In [5]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import json
import os
import pandas as pd
from datetime import timedelta
import sqlalchemy as db

In [4]:
path = "C:\\Users\\usman\\base_environ_json"
with open(path, "r") as f:
    environs = json.load(f)
os.environ.clear()
try:
    for k in environs:
        os.environ[k] = environs[k]
except:
    print(k)

In [6]:
imeis = []

In [28]:
def identify_trips(df):
    """ Code that fetches the start of a trip and the end"""
    trip_start = []
    trip_end = []
    moving_threshold = 10
    stop_threshold = moving_threshold

    for val in range(1,len(df['time'])-1):
        next_diff = df['time'][val+1].timestamp() - df['time'][val].timestamp()
        prev_diff = df['time'][val].timestamp() - df['time'][val-1].timestamp()
        
        if (next_diff <= moving_threshold and prev_diff > stop_threshold) or (next_diff <= moving_threshold and val == 1):
            trip_start.append(val)
        if next_diff > stop_threshold and prev_diff <= moving_threshold:
            trip_end.append(val)
    
    return trip_start, trip_end

def select_trips(trip_start, trip_end):
    """ a helper function that basically creates a tuple of trips """
    trips = []
    for index, val in enumerate(trip_end):
        trips.append((trip_start[index], trip_end[index]))
    
    return trips

def validate_trips(trips):
    """ validate if the trips make sense by creating a basic sanity check that the end index is greater than the start"""
    try:
        for val in trips:
            if val[1] < val[0]:
                raise Exception
    except:
        print(val)
        return False
    return True

def smooth_values(trips, df):
    """ smooth values and combine small intervals in order to make the data more realistic """
    merged_trips = []
    for value in range(len(trips)-1):
        result = df['time'][trips[value+1][0]] - df['time'][trips[value][1]]
        #result = trips[value+1][0] - trips[value][1]
        #print(type(result))
        if result < timedelta(seconds=30):
            #print("working")
            merged_trips.append((value, value+1))
        else:
            pass

    new_trips = []
    for val in merged_trips:
        row = (trips[val[0]][0], trips[val[1]][1])
        new_trips.append(row)
    
    indices = []
    for val in new_trips:
        indices.extend([val[0], val[1]])
    hash_index = set(indices)
    
    all_trips = []
    for val in trips:
        diff = val[1] - val[0]
        if (val[0] in hash_index or val[1] in hash_index) or (diff == 1):
            continue
        all_trips.append(val)
        
    all_trips.extend(new_trips)
    return all_trips


def get_df(imei):
    """convert table into dataframe"""
    conn_str = 'postgresql://postgres:""""@localhost/car_data'

    table_sql = f"select * from car_data where imei = '{imei}' \
        and time between '2021-05-10' and '2021-08-20' order by time;"
    #cur.execute(table_sql)
    #records = cur.fetchall()
    df = pd.read_sql(table_sql, conn_str)
    df = df.drop_duplicates("time")
    df = df[df["event_id"] == 0]
    df = df.reset_index()
    #conn.close()
    return df

def fetch_trips(df):
    #df = get_df(imei)
    trip_start, trip_end = identify_trips(df)
    #print(trip_start)
    #print(trip_end)
    return trip_start, trip_end

def process_trips(trip_start, trip_end, df):
    #print(len(trip_start), len(trip_end))
    trips = select_trips(trip_start, trip_end)
    bools = validate_trips(trips)
    
    if not bools:
        return "Error in values"

    all_trips = smooth_values(trips, df)
    return all_trips

In [ ]:
all_trips = []
dfs = []

for val in imeis:
    all_trips = []
    print(val)
    df = get_df(val)
    start, end = fetch_trips(df)
    car_trips = process_trips(start, end, df)
    all_trips.extend(car_trips)
    print(len(all_trips))

In [ ]:
all_trips = []
dfs = []

for val in imeis:
    print(val)
    dfs.append(get_df(val))
df = pd.concat(dfs, ignore_index=True)
start, end = fetch_trips(df)
car_trips = process_trips(start, end, df)
all_trips.extend(car_trips)

In [8]:
counter = 0
for val in all_trips:
    if val[1] - val[0] < 10:
        counter+=1

In [9]:
counter

2207

In [ ]:
# make a df for data trips
# write to database 
# do queires in database

In [67]:
df.head()

,index,record_id,imei,gps,time,event_id,n1_ids,n1_values,n2_ids,n2_values,n4_ids,n4_values,n8_ids,n8_values,trips
0,1,989643,867060038752941,0101000020E6100000DCAC0B89C5B649402D95B7239C52...,2021-07-01 10:44:11,0,"[239, 240, 21, 200, 69]","[0, 1, 5, 0, 1]","[181, 182, 66, 24, 67, 15]","[6, 4, 12813, 0, 0, 0]","[241, 199, 16]","[42701, 0, 0]",None,None,0
1,2,989644,867060038752941,0101000020E6100000DCAC0B89C5B6494074417DCB9C52...,2021-07-01 10:44:21,0,"[239, 240, 21, 200, 69]","[0, 1, 5, 0, 1]","[181, 182, 66, 24, 67, 15]","[6, 4, 12813, 0, 0, 0]","[241, 199, 16]","[42701, 0, 0]",None,None,0
2,3,989645,867060038752941,0101000020E6100000CB411A5FC5B6494056E01A8E9D52...,2021-07-01 10:44:31,0,"[239, 240, 21, 200, 69]","[0, 1, 5, 0, 1]","[181, 182, 66, 24, 67, 15]","[5, 4, 12813, 0, 0, 0]","[241, 199, 16]","[42701, 0, 0]",None,None,0
3,4,989646,867060038752941,0101000020E6100000CB411A5FC5B6494056E01A8E9D52...,2021-07-01 10:44:41,0,"[239, 240, 21, 200, 69]","[0, 1, 5, 0, 1]","[181, 182, 66, 24, 67, 15]","[5, 4, 12811, 0, 0, 0]","[241, 199, 16]","[42701, 0, 0]",None,None,0
4,5,989647,867060038752941,0101000020E6100000CB411A5FC5B6494056E01A8E9D52...,2021-07-01 10:44:51,0,"[239, 240, 21, 200, 69]","[0, 1, 5, 0, 1]","[181, 182, 66, 24, 67, 15]","[5, 4, 12814, 0, 0, 0]","[241, 199, 16]","[42701, 0, 0]",None,None,0

In [64]:
len(all_trips)

5725

In [95]:
len(car_trips)

5516

In [96]:
trip_dict = {}
df['trips'] = -1
trip_num = 1
for index in range(0, len(all_trips)):
    #print(val)
    start = all_trips[index][0]
    end = all_trips[index][1]
    #print(start, end)
    trip_dict[trip_num] = all_trips[index]
    df.loc[start:end, 'trips'] = trip_num
    trip_num += 1

In [98]:
list(trip_dict.keys())[-1]

5516

In [19]:
imeis = []

conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT) 
for val in imeis:
    print(val)
    sql = f"""WITH get_odometer AS 
        (select record_id, val from test_value(16 , '{val}', 'n4_ids', 'n4_values')),
        join_odo_data AS 
        (select * from get_odometer inner join car_data using (record_id)),
        extract_week AS
        (select *, extract('isoyear' from time) as year, extract('week' from time) as week from join_odo_data),
        weekly_distance AS
        (select week, (max(val)-min(val)) week_distance from extract_week  group by week), 
        max_week AS 
        (select max(week_distance) as max_distance from weekly_distance),
        get_week_and_max AS
        (select week, max_distance from max_week inner join weekly_distance on weekly_distance.week_distance = max_week.max_distance )
    select * from get_week_and_max;"""
    cur = conn.cursor()
    cur.execute(sql)
    records = cur.fetchall()
    print(records)
conn.close()

867060038752941
[(27.0, 196502)]
860147042630861
[(18.0, 101709)]
860147042626836
[(28.0, 295359)]
860147042649242
[(25.0, 703671)]
860147042636678
[(26.0, 974896)]
860147042636561
[(22.0, 489340)]